
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
 }
 .logo-section {
    height: 200px;
    width: 10px;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    transform: scale(0.5);
    transform-origin: center;
 }
 .navbar-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #888181;
 }
 .navbar-tab {
    display: inline-block;
    padding: 10px;
    
    background-color: #888181;
 }
 .navbar-section a {
    text-decoration: none;
    color: white;
 }

 .navbar-tab.active {
    background-color: #87cefa;
 }
 .details{
    background-color: #87cefa;
    height: 150px;
    width: 100%;
    color: blue;
    display: flex;
    flex-direction: row;
    
 }
 .details a {
    display: inline-block;
    margin: 0 10px;
    padding: 25px;
 }
 .content-section1 {
    height: 200px;
    width: 100%;
    background-color: white;
 }
 .content-section2 {
    height: 400px;
    width: 100%;
    background-color: white;
 }
 @media only screen and (max-width: 768px) {
    .navbar-section {
       flex-wrap: wrap;
    }
    .navbar-tab {
       margin: 10px;
    }
 }


 .tabling{
    display: flex;
    flex-direction: column;
    padding: auto;
 }
.tabling .tablinglogo {
 display: inline-block;
 margin: 0 10px;
 padding: 25px;
}


 .tabling .tablinglogo a{
    display: inline-block;
    margin: 0 10px;
    padding: 20px;
 }

 .tabling .tablinglogo p{
    color: red;
 }

 .content-section2 h4{
    color: green;

 }
 .content-section1 h4{
    color: green;

 }
 .bodycontent{
    height: 200px;
    width:100%;
 }
    
 table {
    border-collapse: collapse;
    width: 100%;
 }
 
 th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
 }
 
 th {
    background-color: #f2f2f2;
 }
 
 tr:hover {
    background-color: #f5f5f5;
 }

 .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 10px;
 }
  
  /* Media queries */
  @media only screen and (max-width: 600px) {
    /* Adjust styles for smaller screens */
    .navbar-tab {
      font-size: 12px;
      margin-right: 5px;
    }
  
    .tabling {
      font-size: 14px;
    }
  }
  
  @media only screen and (max-width: 400px) {
    /* Further adjustments for even smaller screens */
    .navbar-section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .navbar-tab {
      font-size: 12px;
      margin: 5px;
    }
  
    .content-section1, .content-section2 {
      font-size: 12px;
    }
  }
  
